.characterDetails-card {
  max-width: 800px;
  margin: 20px auto;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f0f0f0;
}

.characterDetails-content {
  display: flex;
  flex-direction: row;
  align-items: center; /* Center the content horizontally */
  margin: 15px;
  justify-content: space-between;
}

.characterDetails-image-container {
  width: 40%;
  max-height: 300px; /* Adjust the max-height based on your preference */
  overflow: hidden;
  display: flex;
  justify-content: center; /* Center the image horizontally */
  align-items: center; /* Center the image vertically */
}

.characterDetails-image {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  object-fit: contain;
}

.characterDetails-info {
  text-align: center; /* Center the text within the container */
  width: 50%;
}


.characterDetails-action-button {
  background-color: #ffcc00;
  color: #000;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  width: 100%;
}

.characterDetails-action-button:hover {
  background-color: #ffa500;
}
